.row__posters{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}
.row__posters::-webkit-scrollbar{
    display: none;
}


.img-poster{
    height: 300px;
    object-fit: cover;
    width: 100%;
    transition: transform 450ms;
    cursor: pointer;
}

.img-poster:hover{
    transform: scale(1.08);
}